html {
  font-family: Helvetica;
  color: #a5a096;
  background-color: #313231;
  padding: 20px;
}

.wrapper {
    text-align: center;
}

h3 {
    color: #525656;
}

#navbar {
    background-color: #525656;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #444444;
}

#navbar a {
    color:#9a90b4;
    text-decoration: none;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

#navbar a:hover {
    color: #f7a021;
}


