body {
	background-image: url("dino.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
}

.wrapper {
  text-align: center;
  color: white;
  top: 20%;
}

.hlinks {
    color: lightblue;
}
